<template>
  <!--  https://github.com/salazarr-js/v-calculator  -->

<div id="calculator">

  <div class="calculator-logs">
    <span v-for="(log, index) in logs" :key="index">{{ log }}</span>
  </div>

  <div class="calculator-input" v-html="value" @keyup.enter="getResult()"></div>

  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn gray action" @click="clear()">C</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn gray action" @click="addExpression('(')">(</button>
    </div>
    <div class="calculator-col">
      <!--<button class="calculator-btn gray action" @click="addExpression('%')">%</button>-->
      <button class="calculator-btn gray action" @click="addExpression(')')">)</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="addExpression('&#128561;')">&#128561;</button>
    </div>
  </div>
  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpression('7')">7</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpression('8')">8</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpression('9')">9</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="addExpression('&#128123;')">&#128123;</button>
    </div>
  </div>
  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpression('4')">4</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpression('5')">5</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpression('6')">6</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="addExpression('&#128128;')">&#128128;</button>
    </div>
  </div>
  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpression('1')">1</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpression('2')">2</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="addExpression('3')">3</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="addExpression('&#128125;')">&#128125;</button>
    </div>
  </div>
  <div class="calculator-row">
    <div class="calculator-col wide">
      <button class="calculator-btn" @click="addExpression(0)">0</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn action" @click="addExpression('.')">.</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="getResult()">=</button>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'app',

  data () {
    return {
      value: 0,
      requestParam: '',
      logs: []
    }
  },

  methods: {
    addExpression (e) {
      if (this.requestParam === '') {
        this.requestParam += '|'
        this.value = ''
      }

      switch (e) {
        case '&#128561;':
          this.requestParam += '%F0%9F%98%B1'
          break

        case '&#128123;':
          this.requestParam += '%F0%9F%91%BB'
          break

        case '&#128128;':
          this.requestParam += '%F0%9F%92%80'
          break

        case '&#128125;':
          this.requestParam += '%F0%9F%91%BD'
          break

        default:
          this.requestParam += e
          break
      }

      this.requestParam += '|'
      this.value += e
    },

    getResult () {
      if (this.requestParam !== '') {
        axios.get('http://localhost:8081?alg=' + this.requestParam)
          .then((response) => {
            this.value = response.data.answer
            this.requestParam = ''
            this.logs.push(response.data.equation)
            // console.log(response)
          })
          .catch((error) => {
            this.value = 'Error'
            this.requestParam = ''
            this.logs.push(error.response.data.equation)
          })
      }
    },

    clear () {
      this.value = 0
    }
  }
}
</script>

<style lang="scss">
//  https://github.com/salazarr-js/v-calculator (FOR SPEED)

$darker: #2f2f31;
$dark: #424345;
$gray: #616163;
$white: #fff;
$light: #D4D4D2;
$accent: #f49e3f;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  font-size: 10px;
  align-items: flex-end;
  justify-content: center;
  background-color: $darker;
}

//  CALCULATOR  \\
#calculator {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0;
  max-width: 320px;
  min-width: 320px;
  flex-direction: column;
  background-color: $darker;

  .calculator-logs {
    height: 80px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    &:before {
      top: 0;
      left: 0;
      right: 0;
      height: 48px;
      content: '';
      z-index: 5;
      position: absolute;
      background: linear-gradient(to bottom, $darker, rgba($darker, 0));
    }
    span {
      color: $light;
      opacity: .75;
      display: block;
      font-size: .8rem;
      text-align: right;
      margin-top: .4rem;
      line-height: 1;
      font-weight: lighter;
    }
  }

  .calculator-input {
    color: $light;
    width: 100%;
    border: none;
    padding: .8rem;
    display: block;
    font-size: 2.4rem;
    background: none;
    text-align: right;
    font-weight: lighter;
    &:focus, &:active {
      outline: none;
    }
  }

  .calculator-row {
    display: flex;
    padding: 0;
    justify-content: space-around;
    .calculator-col {
      flex: 1;
      box-shadow: 0 0 0 1px $darker;
      &.wide { flex: 2; }
    }
  }

  .calculator-btn {
    width: 100%;
    color: $light;
    border: none;
    cursor: pointer;
    padding: .8rem;
    outline: none;
    font-size: 1.6rem;
    transition: all .3s ease-in-out;
    font-weight: 200;
    justify-content: center;
    background-color: $gray;
    &.accent { background-color: $accent; color: $white; }
    &.gray { background-color: $dark; }
    &.action { }
    &:active {
      background-color: $darker;
    }
  }
}
</style>
